:root{
  --main-color:#45C0BE;
  --gradient : linear-gradient(to right, #388483, #3E9E9D, #43B6B5);
}

button{
padding:10px 50px;
border-radius: 25px;
text-transform: capitalize;
font-weight: bold;
color: white;
background: var(--gradient);
margin-top: 20px;
border: none;
outline: none;
font-size: 25px;
cursor: pointer;
}